<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Erreur de Stock</title>
</head>
<body>
    <h1>Erreur de Stock</h1>
    <p>{{ message }}</p>
    <a href="{{ path('app_cart') }}">Retour au panier</a>
</body>
</html>