{% extends 'header.html.twig' %}

{% block body %}
<main>
    <section class="home-product">
        {% for sweatshirt in sweatshirts %}
            <article>
            {% if sweatshirt.imageName %}
                <img src="{{asset('uploads/images/sweatshirts/' ~ sweatshirt.imageName) }}">
            {% endif %}
            <h3>{{sweatshirt.name}}</h3>
            <p>{{sweatshirt.price}}</p>

            {% if app.user %}
                <button class="btn"><a href="{{ path('app_product_show', {'id': sweatshirt.id}) }}">Voir</a></button>
            {% endif %}
            </article>
        {% endfor %}
    </section>
</main>
{% endblock %}
