{% extends 'header.html.twig' %}

{% block body %}
<main>
    <section class="information">
        <h2>Informations de la société</h2>
        <ul>
            <li><strong>Nom de la société:</strong> Stubborn</li>
            <li><strong>Addresse:</strong> Piccadilly Circus, London W1J 0DA, Royaume Uni</li>
            <li><strong>Addresse de contact:</strong> stubborn@blabla.com</li>
        </ul>
    </section>
</main>
{% endblock %}
