{% extends 'header.html.twig' %}

{% block body %}
<main class="homepage">
    <section class="home-product">
        {% for sweatshirt in sweatshirts %}
            <article>
                <div class="home-img">
                    {% if sweatshirt.imageName %}
                        <img src="{{asset('uploads/images/sweatshirts/' ~ sweatshirt.imageName) }}">
                    {% endif %}
                </div>
                <div class="home-bottom">
                    <div class="home-info">
                        <h3>{{sweatshirt.name}}</h3>
                        <p>{{sweatshirt.price}} €</p>
                    </div>
                    {% if app.user %}
                        <button class="btn"><a href="{{ path('app_product_show', {'id': sweatshirt.id}) }}">Voir</a></button>
                    {% endif %} 
                </div>

            
            </article>
        {% endfor %}
    </section>
</main>
{% endblock %}
