{% extends 'header.html.twig' %}

{% block body %}
<main>

    <h1> Vous y êtes presque !</h1>
    <h2> Pour découvrir tous nos produits, il ne vous reste qu'à valider votre compte</h2>
    <P> Un mail de confirmation vous à été envoyé à l'adresse suivante : {{user.email}}<P>

</main>
{% endblock %}