{# templates/sweatshirt/edit.html.twig #}

{% extends 'header.html.twig' %}

{% block title %}Modifier un Sweatshirt{% endblock %}

{% block body %}
    <h1>Modifier un Sweatshirt</h1>

    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_widget(form) }}
        <button class="btn">Enregistrer les modifications</button>
    {{ form_end(form) }}

    <a href="{{ path('app_sweatshirt_list') }}">Retour à la liste</a>
{% endblock %}
