<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmation d'inscription</title>
</head>
<body>
    <p>Bonjour {{ user.name }},</p>

    <p>Merci de vous être inscrit sur notre site ! Votre inscription a bien été prise en compte.</p>

    <p>Cordialement,<br>L'équipe Stubborn</p>
</body>
</html>